<nav id="sticky-nav">
  <div class="menu-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo">
            <a href="./index.html">
              <img src="img/logo.png" alt="" />
            </a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="nav-menu">
            <nav class="mainmenu">
              <ul>
                <li class="active"><a href="{% url 'home-page' %}">Home</a></li>
                <li><a href="">Rooms</a></li>
                <li><a href="{% url 'about-page' %}">About Us</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
