{%extends 'main.html'%} {%block content%}

<div class="breadcrumb-section">
  <div style="margin-top: 50px" class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>About Us</h2>
          <div class="bt-option">
            <a href="{% url 'home-page' %}">Home</a>
            <span>About Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Section Begin -->
<section
  class="video-section set-bg"
  data-setbg="{{ about_video.video_bg_image.url }}"
  style="margin-bottom: 50px"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="video-text">
          <h2>{{ about_video.title }}</h2>
          <p>{{ about_video.description }}</p>
          <a href="{{ about_video.youtube_url }}" class="play-btn video-popup">
            <img
              src="{{ about_video.play_icon.url }}"
              alt=""
              style="width: 75px; height: 75px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Video Section End -->
<!-- Breadcrumb Section Begin -->

<!-- Breadcrumb Section End -->

<!-- About Us Page Section Begin -->
<section class="aboutus-page-section spad">
  <div class="container">
    <div class="about-page-text">
      <div class="row">
        <div class="col-lg-6">
          <div class="ap-title">
            <p>{{about_us.descriptive_info}}</p>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <ul class="ap-services">
            {% for benefit in benefits %}
            <li>
              <i class="fa fa-check" style="color: #e0a974"></i>
              {{ benefit.title }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="about-page-services">
      <div class="row">
        {%for extra in extras%}
        <div class="col-md-4">
          <div
            class="ap-service-item set-bg"
            data-setbg="{{extra.service_image.url}}"
            style="
              transition: transform 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
              border-radius: 10px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
            onmouseover="this.style.transform = 'scale(1.1)';
                            this.style.boxShadow = '0 8px 16px rgba(0, 0, 0, 0.2)';"
            onmouseout="this.style.transform = 'scale(1)';
                            this.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';"
          >
            <div class="api-text">
              <h3>{{extra.service_title}}</h3>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</section>
<!-- About Us Page Section End -->

<!-- Footer Section End -->
{%endblock%}
