{% extends 'main.html'%} {%block content%}
<section class="hero-section">
  <div style="visibility: hidden" class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text">
          <h1>Sona A Luxury Hotel</h1>
          <p>
            Here are the best hotel booking sites, including recommendations for
            international travel and for finding low-priced hotel rooms.
          </p>
          <a href="#" class="primary-btn">Discover Now</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
        <div class="booking-form">
          <h3>Booking Your Hotel</h3>
          <form action="#">
            <div class="check-date">
              <label for="date-in">Check In:</label>
              <input type="text" class="date-input" id="date-in" />
              <i class="icon_calendar"></i>
            </div>
            <div class="check-date">
              <label for="date-out">Check Out:</label>
              <input type="text" class="date-input" id="date-out" />
              <i class="icon_calendar"></i>
            </div>
            <div class="select-option">
              <label for="guest">Guests:</label>
              <select id="guest">
                <option value="">2 Adults</option>
                <option value="">3 Adults</option>
              </select>
            </div>
            <div class="select-option">
              <label for="room">Room:</label>
              <select id="room">
                <option value="">1 Room</option>
                <option value="">2 Room</option>
              </select>
            </div>
            <button type="submit">Check Availability</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slider owl-carousel">
    {% for image in carousel_images %}
    <div class="hs-item set-bg" data-setbg="{{ image.image.url }}"></div>
    {% endfor %}
  </div>
</section>

<!-- About us -->
<section class="aboutus-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-text">
          <div class="section-title">
            <span>About Us</span>
            <h2>{{about_us.title}}</h2>
          </div>
          <p class="f-para">{{about_us.description}}</p>

          <a href="{% url 'about-page' %}" class="primary-btn about-btn"
            >Read More</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-pic">
          <div class="row">
            <div class="col-sm-6">
              <img
                src="{{ about_us.image3.url }}"
                alt=""
                class="portrait-img"
                style="
                  transition: transform 0.3s ease-in-out,
                    box-shadow 0.3s ease-in-out;
                  border-radius: 10px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                "
                onmouseover="this.style.transform = 'scale(1.1)';
                            this.style.boxShadow = '0 8px 16px rgba(0, 0, 0, 0.2)';"
                onmouseout="this.style.transform = 'scale(1)';
                            this.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';"
              />
            </div>
            <div class="col-sm-6">
              <img
                src="{{ about_us.image1.url }}"
                alt=""
                class="portrait-img"
                style="
                  transition: transform 0.3s ease-in-out,
                    box-shadow 0.3s ease-in-out;
                  border-radius: 10px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                "
                onmouseover="this.style.transform = 'scale(1.1)';
                            this.style.boxShadow = '0 8px 16px rgba(0, 0, 0, 0.2)';"
                onmouseout="this.style.transform = 'scale(1)';
                            this.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services Section End -->
<section class="services-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>What We Do</span>
          <h2>Discover Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for service in our_services %}
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <img
            style="
              width: 50px;
              height: 50px;
              display: block;
              margin: 0 auto 10px;
            "
            src="{{ service.icon.url }}"
            alt="{{ service.title }}"
          />

          <h4>{{ service.title }}</h4>
          <p>{{ service.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
    <div class="footer-text">
      <div class="row" style="justify-content: space-evenly">
        <div class="col-lg-4">
          <div class="ft-about">
            <div class="logo">
              <a href="#">
                <!-- <img src="{{details.logo.url}}" alt="" /> -->
              </a>
            </div>
            <div class="fa-social">
              <a href="https://www.facebook.com/dadhouse.az/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a
                href="https://www.tripadvisor.com/Restaurant_Review-g3735742-d23224673-Reviews-DAD_House-Lankaran_Lankaran_Region.html"
                target="_blank"
              >
                <i class="fa fa-tripadvisor"></i>
              </a>
              <a
                href="https://www.instagram.com/dadresidence.az/?hl=en"
                target="_blank"
              >
                <i class="fa fa-instagram"></i>
              </a>
              <a
                href="https://www.youtube.com/@dadresidence2855"
                target="_blank"
              >
                <i class="fa fa-youtube-play"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-contact">
            <h6>Contact Us</h6>
            <ul>
              <li><i class="fa fa-phone"></i> {{details.phone_number}}</li>
              <li><i class="fa fa-envelope"></i> {{details.email}}</li>
              <li><i class="fa fa-map-marker"></i> {{details.address}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="co-text">
            <p>
              &copy; DAD Residence
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
{%endblock%}
